In [1]:
from spoonacular.response import SpoonacularResponse
from spoonacular.retrieval import ComplexRetrievalStrategy
from spoonderful.processing import tabulation as tab
import pandas as pd

In [2]:
with open('../data/my_food.txt', 'r') as file:
    query = file.read()

In [3]:
spoon = SpoonacularResponse.get_recipes(query)

https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/200
X-Ratelimit-Requests-Limit: 5000
X-Ratelimit-Requests-Remaining: 5000
X-Ratelimit-Tinyrequests-Limit: 50000
X-Ratelimit-Tinyrequests-Remaining: 50000

In [4]:
retrieval_strategy = ComplexRetrievalStrategy()

In [9]:
data = spoon.get_data(retrieval_strategy)
df = pd.DataFrame(data)
df = df.drop('nutrition', axis=1)
df.head()

,id,title,image,analyzedInstructions,readyInMinutes,spoonacularScore,aggregateLikes,healthScore,pricePerServing,servings,usedIngredientCount,vegetarian,vegan,glutenFree,dairyFree
0,158738,Pasta-Beef Cobbler,https://spoonacular.com/recipeImages/158738-31...,"[{'name': '', 'steps': [{'number': 1, 'step': ...",70,31.0,0,5.0,108.26,8,11,False,False,False,False
1,163759,Make Ahead Sausage Potato Egg Bake,https://spoonacular.com/recipeImages/163759-31...,"[{'name': '', 'steps': [{'number': 1, 'step': ...",615,38.0,0,8.0,106.24,12,11,False,False,True,False
2,692415,Bacon-Cheeseburger Chowder,https://spoonacular.com/recipeImages/692415-31...,"[{'name': '', 'steps': [{'number': 1, 'step': ...",45,83.0,1623,16.0,156.35,6,11,False,False,False,False
3,172826,Ham and Vegetable Scrambled Eggs,https://spoonacular.com/recipeImages/172826-31...,"[{'name': '', 'steps': [{'number': 1, 'step': ...",20,32.0,0,5.0,97.43,4,11,False,False,True,False
4,423199,Next-Generation German Potato Salad,https://spoonacular.com/recipeImages/423199-31...,"[{'name': '', 'steps': [{'number': 1, 'step': ...",30,25.0,0,3.0,52.25,14,11,False,False,False,True

In [6]:
nutrition_data = [recipe['nutrition'] for recipe in data]

In [7]:
calories = tab.CaloricBreakdownTabulator()
calorie_df = calories.tabulate_nutrition(nutrition_data)
calorie_df.head()

   percentProtein  percentFat  percentCarbs
0           32.27       24.99         42.74
1           23.17       62.75         14.08
2           21.46       59.31         19.23
3           27.10       68.92          3.98
4           10.75       33.38         55.87

In [8]:
nutrients = tab.NutrientDailyNeedsTabulator()
nutrient_df = nutrients.tabulate_nutrition(nutrition_data)
nutrient_df.head()

,Calories,Fat,Saturated Fat,Carbohydrates,Net Carbohydrates,Sugar,Cholesterol,Sodium,Protein,Vitamin B12,...,Vitamin B5,Vitamin D,Magnesium,Copper,Vitamin A,Fiber,Folate,Vitamin E,Manganese,Vitamin K
0,10.93,9.17,16.43,7.64,7.99,10.16,27.14,34.28,34.63,26.80,...,7.61,6.47,5.82,4.96,4.38,3.84,3.55,3.05,2.24,1.24
1,17.47,37.26,68.71,4.08,3.82,3.00,74.06,25.51,40.24,16.95,...,13.12,11.60,8.74,6.89,20.22,6.87,10.84,5.85,7.77,3.56
2,26.06,52.66,101.80,8.33,8.17,8.33,37.48,49.67,55.72,45.66,...,12.47,9.53,14.43,9.88,23.94,10.01,11.23,7.22,11.48,5.07
3,13.23,30.82,45.56,0.87,0.83,1.58,117.75,32.02,35.44,19.01,...,15.86,12.95,5.10,4.80,18.28,1.31,11.90,8.16,2.90,1.34
4,8.59,9.91,13.39,8.09,7.93,4.39,3.46,12.94,9.33,1.31,...,4.71,NaN,8.23,9.61,NaN,9.87,6.78,NaN,11.14,4.31

In [10]:
frames = [df, calorie_df, nutrient_df]
aggregate_df = pd.concat(frames, axis=1)
aggregate_df.head()

,id,title,image,analyzedInstructions,readyInMinutes,spoonacularScore,aggregateLikes,healthScore,pricePerServing,servings,...,Vitamin B5,Vitamin D,Magnesium,Copper,Vitamin A,Fiber,Folate,Vitamin E,Manganese,Vitamin K
0,158738,Pasta-Beef Cobbler,https://spoonacular.com/recipeImages/158738-31...,"[{'name': '', 'steps': [{'number': 1, 'step': ...",70,31.0,0,5.0,108.26,8,...,7.61,6.47,5.82,4.96,4.38,3.84,3.55,3.05,2.24,1.24
1,163759,Make Ahead Sausage Potato Egg Bake,https://spoonacular.com/recipeImages/163759-31...,"[{'name': '', 'steps': [{'number': 1, 'step': ...",615,38.0,0,8.0,106.24,12,...,13.12,11.60,8.74,6.89,20.22,6.87,10.84,5.85,7.77,3.56
2,692415,Bacon-Cheeseburger Chowder,https://spoonacular.com/recipeImages/692415-31...,"[{'name': '', 'steps': [{'number': 1, 'step': ...",45,83.0,1623,16.0,156.35,6,...,12.47,9.53,14.43,9.88,23.94,10.01,11.23,7.22,11.48,5.07
3,172826,Ham and Vegetable Scrambled Eggs,https://spoonacular.com/recipeImages/172826-31...,"[{'name': '', 'steps': [{'number': 1, 'step': ...",20,32.0,0,5.0,97.43,4,...,15.86,12.95,5.10,4.80,18.28,1.31,11.90,8.16,2.90,1.34
4,423199,Next-Generation German Potato Salad,https://spoonacular.com/recipeImages/423199-31...,"[{'name': '', 'steps': [{'number': 1, 'step': ...",30,25.0,0,3.0,52.25,14,...,4.71,NaN,8.23,9.61,NaN,9.87,6.78,NaN,11.14,4.31

In [11]:
aggregate_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 49 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    5 non-null      int64
 1   title                 5 non-null      object
 2   image                 5 non-null      object
 3   analyzedInstructions  5 non-null      object
 4   readyInMinutes        5 non-null      int64
 5   spoonacularScore      5 non-null      float64
 6   aggregateLikes        5 non-null      int64
 7   healthScore           5 non-null      float64
 8   pricePerServing       5 non-null      float64
 9   servings              5 non-null      int64
 10  usedIngredientCount   5 non-null      int64
 11  vegetarian            5 non-null      bool
 12  vegan                 5 non-null      bool
 13  glutenFree            5 non-null      bool
 14  dairyFree             5 non-null      bool
 15  percentProtein        5 non-null      float64
 16  percentFat            5 non-null      float64
 17  percentCarbs          5 non-null      float64
 18  Calories              5 non-null      float64
 19  Fat                   5 non-null      float64
 20  Saturated Fat         5 non-null      float64
 21  Carbohydrates         5 non-null      float64
 22  Net Carbohydrates     5 non-null      float64
 23  Sugar                 5 non-null      float64
 24  Cholesterol           5 non-null      float64
 25  Sodium                5 non-null      float64
 26  Protein               5 non-null      float64
 27  Vitamin B12           5 non-null      float64
 28  Selenium              5 non-null      float64
 29  Zinc                  5 non-null      float64
 30  Vitamin B3            5 non-null      float64
 31  Phosphorus            5 non-null      float64
 32  Vitamin B2            5 non-null      float64
 33  Vitamin B6            5 non-null      float64
 34  Vitamin B1            5 non-null      float64
 35  Iron                  5 non-null      float64
 36  Potassium             5 non-null      float64
 37  Vitamin C             5 non-null      float64
 38  Calcium               5 non-null      float64
 39  Vitamin B5            5 non-null      float64
 40  Vitamin D             4 non-null      float64
 41  Magnesium             5 non-null      float64
 42  Copper                5 non-null      float64
 43  Vitamin A             4 non-null      float64
 44  Fiber                 5 non-null      float64
 45  Folate                5 non-null      float64
 46  Vitamin E             4 non-null      float64
 47  Manganese             5 non-null      float64
 48  Vitamin K             5 non-null      float64
dtypes: bool(4), float64(37), int64(5), object(3)
memory usage: 1.9+ KB